* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-content {
  background-color: #f4f4f6;
}

.menu .menu-desktop {
  background-color: #fcfc30;
  display: flex;
  list-style: none;
  width: 100%;
  z-index: 2;
  position: fixed;
}

ul {
  display: flex;
  list-style: none;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

li {
  font-family: "Inter", sans-serif;
  color: #465eff;
}

.img-hero img {
  width: 100%;
}

.qr-code img {
  width: 15%;
  position: relative;
  bottom: 36rem;
  left: 6.5rem;
  display: flex;
  margin-bottom: 0 auto;
}

.title_img-hero {
  position: relative;
  bottom: 40rem;
  width: 30%;
  padding-left: 6rem;
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 4rem;
}

.subtitle_img-hero {
  position: relative;
  bottom: 38rem;
  padding-left: 6rem;
  margin: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 1.5rem;
}

.beneficios-wrap h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 400;
  font-size: 3rem;
  width: 50%;
  position: relative;
  bottom: 10rem;
  left: 5rem;
  background-color: #f4f4f6;
}

.linha {
  position: absolute;
  width: 171.5px;
  margin-top: 10rem;
  margin-right: 3rem;
  height: 0px;
  left: 82px;
  top: 907px;
  border: 1px solid #465eff;
}

.beneficios-abertura {
  display: flex;
  position: relative;
  margin-left: 5rem;
}

.container-box-1 {
  position: relative;
  left: 3.5rem;
  top: 2rem;
}

.container-box-1 p {
  width: 50%;
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.container-box-2 p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.container-box-3 p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.container-box-4 p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.container-box-1 h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
}

.container-box-2 h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
}

.container-box-3 h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
}

.container-box-4 h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
}

.abertura-container h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 500;
}

.abertura-container p {
  font-family: "Inter", sans-serif;
  color: #767a86;
  width: 45%;
  position: relative;
  top: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-left: 4rem;
  flex-wrap: wrap;
  align-items: center;
}

.container-box-3 {
  position: relative;
  top: 2rem;
  left: 2.5rem;
}

.container-box-4 {
  position: relative;
  right: 1rem;
}

.container-box-3 p {
  width: 50%;
}

.abertura-wrap img {
  position: relative;
  left: 2rem;
  top: 2rem;
  height: 90%;
}

.abertura-wrap-1 img {
  width: 30%;
  position: relative;
  left: 3rem;
}

.abertura-wrap-2 {
  position: relative;
  left: 2.5rem;
  top: 1.5rem;
  width: 25%;
}

.abertura-wrap-2 img {
  width: 80%;
}

.abertura-wrap-3 img {
  width: 70%;
}

.servicos-wrap {
  display: flex;
  position: relative;
}

.segurança-wrap {
  display: flex;
  position: relative;
  top: 2rem;
  margin-left: 5rem;
}

.conveniencia-wrap {
  display: flex;
  position: relative;
  top: 3.5rem;
}

.wrap-container-1 {
  width: 50%;
}

.container-box-2 {
  position: relative;
  right: 9rem;
}

.container-box-4 p {
  width: 50%;
}

.wrap-box {
  display: grid;
  position: relative;
  top: 7rem;
}

.wrap-box .wrap-box-column1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 1920px) {
  .wrap-box .wrap-box-column2 {
    display: grid;
    grid-template-columns: 215px 215px 215px;
    position: relative;
    margin-left: 5rem;
  }

  .image-wrap-1 img {
    border-radius: 10px;
    width: 116%;
    height: 213%;
  }

  .image-wrap-1 {
    width: 116%;
    height: 30%;
    position: relative;
    left: 10rem;
    top: 1rem;
    margin: 4rem;
  }

  .image-wrap-2 img {
    border-radius: 10px;
    width: 100%;
  }

  .image-wrap-2 {
    width: 40.5%;
    height: 40%;
    position: relative;
    left: 25rem;
    margin: 5rem;
  }

  .image-wrap-3 img {
    border-radius: 10px;
    width: 100%;
  }

  .image-wrap-3 {
    width: 205%;
    position: relative;
    left: 5rem;
    bottom: 11rem;
    margin: 4rem;
  }

  .image-wrap-4 img {
    border-radius: 10px;
    width: 100%;
  }

  .image-wrap-4 {
    width: 180%;
    height: 40%;
    position: relative;
    bottom: 11rem;
    left: 21rem;
    margin: 4rem;
  }

  .image-wrap-5 img {
    border-radius: 10px;
    width: 132%;
    height: 121%;
  }

  .image-wrap-5 {
    width: 180%;
    position: relative;
    left: 34rem;
    margin: 4rem;
    bottom: 11rem;
  }

  .outer-wrap {
    height: 50%;
  }
}

@media screen and (max-width: 1400px) {
  .wrap-box .wrap-box-column2 {
    display: grid;
    grid-template-columns: 215px 215px 215px;
    position: relative;
    bottom: 5rem;
  }

  .image-wrap-1 img {
    border-radius: 10px;
    width: 132%;
    height: 171%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .image-wrap-1 {
    width: 118%;
    height: 30%;
    position: relative;
    left: 4rem;
    top: 1rem;
    margin: 4rem;
  }

  .image-wrap-2 img {
    border-radius: 10px;
    width: 95%;
    height: 128%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .image-wrap-2 {
    width: 42.5%;
    position: relative;
    left: 20rem;
    margin: 5rem;
  }

  .image-wrap-3 img {
    border-radius: 10px;
    width: 75%;
    height: 52%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .image-wrap-3 {
    border-radius: 10px;
    top: -2rem;
    margin: -2rem;
  }

  .image-wrap-4 img {
    border-radius: 10px;
    height: 130%;
    width: 88%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  .image-wrap-4 {
    position: relative;
    left: 8rem;
    top: -8rem;
    margin: 4rem;
  }

  .wrap-- img {
    border-radius: 10px;
    width: 130%;
    height: 105%;
    position: relative;
    left: 5rem;
  }

  .image-wrap-5 {
    width: 129%;
    position: relative;
    left: 12.3rem;
    margin: 4rem;
    top: -8rem;
  }

  .outer-wrap {
    height: 50%;
  }

  .box-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 6rem;
  }

  .box-wrap p {
    font-family: "Inter", sans-serif;
    color: #767a86;
  }

  .wrap-container-2 {
    display: flex;
    margin: 4rem;
    position: relative;
    left: 3rem;
    gap: 1rem;
  }

  .box-bloco2 img {
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }

  .box-bloco2 {
    position: relative;
    right: 2rem;
    overflow: hidden;
  }

  .box-bloco2:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  .facilidade-wrap {
    display: flex;
    margin: 4rem;
  }

  .boxes {
    background-color: #ffffff;
    width: 20%;
    height: 20%;
    margin: 0.5rem;
    border-radius: 5px;
  }

  .boxe-1 {
    background-color: #ffffff;
    width: 20%;
    height: 20%;
    margin: 0.5rem;
    border-radius: 5px;
  }

  .boxe-6 {
    background-color: #ffffff;
    width: 20%;
    height: 20%;
    margin: 0.5rem;
    border-radius: 5px;
  }
}

.wrap-momentos {
  position: relative;
  padding-left: 5rem;
  bottom: 3rem;
}

.wrap-momentos h1 {
  font-weight: 600;
  font-family: "Inter", sans-serif;
}

.wrap-momentos p {
  position: relative;
  top: 1rem;
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.box-bloco1{
  overflow: hidden;
}

.box-bloco1 img {
  border-radius: 22px;
  right: 2rem;
  position: relative;
  height: 82%;
  width: 98%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-bloco1:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.box-bloco3 {
  border-radius: 10px;
  position: relative;
  right: 2rem;
  overflow: hidden;
}

.box-bloco3 img {
  height: 82%;
  width: 100%;
  border-radius: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.box-bloco3:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.seguro-veiculo {
  background-color: #767a86;
  width: 100%;
  height: 20%;
  position: relative;
  bottom: 0.5rem;
  border-radius: 8px;
  color: white;
  bottom: 6rem;
}

.linha-wrap {
  border: 1px solid #000000;
  top: 1rem;
  position: relative;
  width: 130%;
  right: 1rem;
}

.container-finance {
  position: relative;
  bottom: 7rem;
  width: 56%;
  margin: 0.5rem;
}

.container-finance h1 {
  font-family: "Inter", sans-serif;
}

.container-finance p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
}

.container-organizacao {
  position: relative;
  margin: 1rem;
  position: relative;
  bottom: 8rem;
}

.container-organizacao h1 {
  font-family: "Inter", sans-serif;
}

.container-seguro {
  position: relative;
  top: 1rem;
  margin: 0.5rem;
}

.container-seguro h1 {
  font-family: "Inter", sans-serif;
}

.container-investimento {
  position: relative;
  bottom: 6rem;
  margin: 0.5rem;
}

.container-investimento h1 {
  font-family: "Inter", sans-serif;
}

.boxes img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.boxes p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
  text-align: center;
}

.boxe-1 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 88px;
}

.boxe-1 p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
  text-align: center;
}

.boxe-6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 88px;
}

.boxe-6 p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
  text-align: center;
}

.facilidades h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
  margin: 2rem;
  position: relative;
  left: 2rem;
}

.banner {
  padding: 2rem;
}

.banner img {
  border-radius: 10px;
  width: 84%;
  position: relative;
  left: 6.5rem;
}

.footer {
  background: rgba(255, 255, 255, 0.7);
}

.column1-footer {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  width: 48%;
}

.column2-footer {
  display: flex;
  background: rgba(255, 255, 255, 0.7);
  width: 64%;
}

.column1-footer p {
  font-family: "Inter", sans-serif;
  margin: 2rem;
  color: #465eff;
}

.column2-footer p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  margin: 2rem;
}

.column3-footer-p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  width: 38%;
  position: relative;
  top: 2rem;
  left: 2rem;
}
.column3-footer {
  background-color: #fcfc30;
  height: 16%;
}

.outer-column {
  display: flex;
  margin: 2rem;
  padding-left: 33rem;
  position: relative;
  bottom: 2rem;
}

.outer-column p {
  font-family: "Inter", sans-serif;
  color: #465eff;
  margin: 1rem;
  font-weight: 800;
}

.emprestimo {
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  width: 154%;
  left: 3rem;
  height: 32%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.emprestimo h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 1.37rem;
}

.emprestimo p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.emprestimo button {
  background-color: #465eff;
  color: #fcfc30;
  border: none;
  padding: 1rem;
  position: relative;
  font-weight: 800;
  top: 1rem;
  border-radius: 5px;
}

.conta-corrente {
  position: relative;
  left: 8rem;
  bottom: 7rem;
  border-radius: 5px;
  padding-left: 3rem;
}

.cartao-credito {
  position: relative;
}

.cartao-wrap {
  width: 26%;
  position: relative;
  left: 26rem;
  bottom: 12rem;
}

.cartao-wrap h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  position: relative;
  font-weight: 700;
  bottom: 3rem;
}

.cartao-wrap p {
  font-family: "Inter", sans-serif;
  color: #fff;
  position: relative;
  width: 60%;
  bottom: 2rem;
}

.cartao-wrap .link-adquira {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 600;
  position: relative;
  top: 0.1rem;
}

.investimento {
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  width: 157%;
  left: 12rem;
  height: 33%;
  bottom: 8.6rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.investimento h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 1.37rem;
}

.investimento p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.investimento button {
  background-color: #465eff;
  color: #fcfc30;
  border: none;
  padding: 1rem;
  position: relative;
  font-weight: 800;
  top: 1rem;
  border-radius: 5px;
}

.lojabb {
  background: #ffffff;
  position: relative;
  border-radius: 5px;
  width: 167%;
  left: 48.3rem;
  height: 119%;
  bottom: 19.5rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.lojabb h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 1.37rem;
}

.lojabb p {
  font-family: "Inter", sans-serif;
  color: #767a86;
}

.lojabb button {
  background-color: #465eff;
  color: #fcfc30;
  border: none;
  padding: 1rem;
  position: relative;
  font-weight: 800;
  top: 1rem;
  border-radius: 5px;
}

.image-wrap-5 span {
  background: #fff;
  height: 99%;
}

.wrap-wrap-momentos {
  background-color: #f4f4f6;
}

.conta-corrente h1 {
  font-family: "Inter", sans-serif;
  color: #fcfc30;
  font-weight: 800;
  position: relative;
  bottom: 1rem;
}

.conta-corrente p {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.conta-corrente button {
  background-color: #fcfc30;
  color: #465eff;
  border: none;
  padding: 1rem;
  position: relative;
  font-weight: 800;
  top: 1rem;
  border-radius: 5px;
}

.box-- {
  padding: 1rem;
}
