* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body-content {
  background-color: #f4f4f6;
}

.menu .menu-desktop {
  background-color: #fcfc30;
  display: flex;
  list-style: none;
}

ul {
  display: flex;
  list-style: none;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

li {
  font-family: "Inter", sans-serif;
  color: #465eff;
}

.img-hero img {
  width: 100%;
}

.qr-code img {
  width: 15%;
  position: relative;
  bottom: 36rem;
  left: 6.5rem;
  display: flex;
  margin-bottom: 0 auto;
}

.title_img-hero {
  position: relative;
  bottom: 40rem;
  width: 30%;
  padding-left: 6rem;
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 4rem;
}

.subtitle_img-hero {
  position: relative;
  bottom: 38rem;
  padding-left: 6rem;
  margin: 0.5rem;
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-size: 1.5rem;
}

.beneficios-wrap h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 400;
  font-size: 3rem;
  width: 50%;
  position: relative;
  bottom: 10rem;
  left: 5rem;
  background-color: #f4f4f6;
}

.linha {
  position: absolute;
  width: 171.5px;
  margin-top: 10rem;
  margin-right: 3rem;
  height: 0px;
  left: 82px;
  top: 907px;
  border: 1px solid #465eff;
}

.beneficios-abertura {
  display: flex;
  position: relative;
  margin-left: 5rem;
}

.container-box-1 {
  top: 2rem;
}

.container-box-1 p {
  width: 50%;
}

.abertura-container h1 {
  font-family: "Inter", sans-serif;
  color: #465eff;
  font-weight: 500;
}

.abertura-container p {
  font-family: "Inter", sans-serif;
  color: #767a86;
  width: 45%;
  position: relative;
  top: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.container-box-3 {
  position: relative;
  top: 2rem;
}

.container-box-3 p {
  width: 50%;
}

.abertura-wrap-1 img {
  width: 40%;
}

.servicos-wrap {
  display: flex;
  position: relative;
  margin-left: 5rem;
}

.segurança-wrap {
  display: flex;
  position: relative;
  margin-left: 5rem;
}

.conveniencia-wrap {
  display: flex;
  position: relative;
  margin-left: 5rem;
}

.wrap-container-1 {
  width: 50%;
}

.container-box-2 {
  position: relative;
  right: 8rem;
}

.container-box-4 p {
    width: 50%;
  }