@use "config/colors";
@import "../styles/commons";

.container {
  background-color: #f4f4f6;

  .wrap .title {
    color: colors.$blue;
    margin: 0;
    line-height: 1.15;
    font-size: 1rem;
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;

    @include breakpoint("small") {
      font-size: 3rem;
      margin: 2em 4%;
      width: 67%;
    }
  }

  .box {
    width: 50%;
  }

  .images {
    margin: 2em 0 0 2em;
  }

  .beneficioslista {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-items: stretch;
    gap: 2em;
    margin: 31em 14% 3px;
    padding: 3em;
  }

  .beneficioitens {
    display: flex;
    gap: 3em;
    width: 45%;

    h1 {
      font-family: "Inter";
      color: colors.$blue;
      font-weight: 800;
      font-size: 2em;
    }

    p {
      color: colors.$gray;
      font-family: "Inter";
    }
  }
}
