
$accent-color-dark: #252422ff;
$accent-color-light: #ead7d1ff;

$white: #fefefe;
$lightest-gray: #f7f7f7;
$lighter-gray: #e4e4e4;
$light-gray: #ddd;
$gray: #767A86;
$dark-gray: #888;
$darker-gray: #666;
$darkest-gray: #333;
$yellow: #FCFC30;
$blue: #465EFF;

